.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.pro-title{
    position: relative;
}
.pro-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 500;
}
.pro-title img{
    height: 230px;
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.pro-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.pro-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}
.pro-container img:hover{
    transform:scale(1.10) ;
    border: 4px solid #eb5e28;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork h2{
    margin: 13px 0;

}
.showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid #1891a9;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 80px;
    transition: 0.5s;
    cursor: pointer;
}

.showmore:hover{
    gap: 30px;
    transition: 0.5s;
}
@media(max-width:768px){
    .projects{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .pro-title h1{
        font-size: 50px;
        padding: 0;
        font-weight: 500;
    }
    .pro-title img{
        width: 150px;
        height: 130px;
       margin-right: -20px;
    }
    .pro-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .pro-container img{
        width: 100%;
        height: 100%;
    }
    .showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
}