.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.con-title{
    position: relative;
}
.con-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 500; 
}
.con-title img{
    height: 230px;
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.con-sections{
    display: flex;
    gap: 150px;
}
.con-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.con-left h1{
    font-size: 80px;
    font-weight: 500;
    background: linear-gradient(264deg, #9395d3 30%, #eb5e28 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.con-left p{
    max-width: 550px;
    color: #1891a9;
    font-size: 24px;
    line-height: 35px;
}
.con-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #1891a9;
    font-size: 25px;
}
.con-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.con-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.con-right label{
    color: #1891a9;
    font-size: 24px;
    font-weight: 500;
}
.con-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 5px;
    background: #aab2ff;
    color: #eca0ff;
    font-family: Titillium Web;
    font-size: 22px;
}
.con-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 5px;
    background: #aab2ff;
    color: #eca0ff;
    font-family: Titillium Web;
    font-size: 22px;
}
.con-submit{
    border: none;
    color: #1891a9;
    border-radius: 50px;
    background: linear-gradient(264deg, #9395d3 -5.09%, #eb5e28 106.28%);
    font-size: 24px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.con-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:786px){
    .con-title{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .con-title h1{
        font-size: 50px;
        padding: 0;
        font-weight: 500;
    }
    .con-title img{
        width: 150px;
        height: 130px;
        margin-right: -20px;
    }
    .con-sections{
        flex-direction: column;
    }
    .con-left h1{
        font-size: 54px;
    }
    .con-left p{
        font-size: 18px;
    }
    .con-details{
        gap: 20px;
    }
    .con-detail img{
        width: 25px;
    }
    .con-right label{
        font-size: 20px;

    }
    .con-right input{
        width: 100%;
        font-size: 20px;
    }
    .con-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .con-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}